<section>
  <span>Trusted by the best</span>

  <div class="logo-container">
    <div class="icon" aria-label="Logo firmy" [inlineSVG]="'/assets/images/svg/ble.svg'"></div>
    <div class="icon" aria-label="Logo firmy" [inlineSVG]="'/assets/images/svg/dicon.svg'"></div>
    <div class="icon" aria-label="Logo firmy" [inlineSVG]="'/assets/images/svg/filezilla.svg'"></div>
    <div class="icon" aria-label="Logo firmy" [inlineSVG]="'/assets/images/svg/lyft.svg'"></div>
    <div class="icon" aria-label="Logo firmy" [inlineSVG]="'/assets/images/svg/steam.svg'"></div>
    <div class="icon" aria-label="Logo firmy" [inlineSVG]="'/assets/images/svg/yolo.svg'"></div>
  </div>
</section>
