@import '../../../../styles';

:host {
  position: fixed;
  top: 20px;
  @include flex(row, space-between, center);
  width: calc(100% - #{$desktop-padding * 2});
  height: 100px;
  background-color: color(white);
  border-radius: 20px;
  z-index: 50;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;

    > * {
      flex: 1;
    }

    .logo {
      display: flex;
      align-items: center;

      .icon {
        height: 50px;
        margin-right: 15px;

        &::ng-deep svg {
          @include size(50px);
          fill: color(main);
        }
      }

      span {
        font-size: 32px;
        font-weight: bold;
      }
    }

    .links {
      @include flex(row, center, center);
      column-gap: 20px;
      font-size: 15px;
    }

    .actions {
      @include flex(row, flex-end, center);

      button {
        @include size(150px, 50px);
        border-radius: 100px;
        border-style: none;
        background-color: color(main);
        font-size: 17px;
        color: color(white);
      }
    }
  }
}
